/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/12/2019, 02:02:28 PM
    Author     : Admin
*/
body {font-family: Arial, Helvetica, sans-serif;

}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #004028;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 49%;
}

#entrar{
    background-color: #004028;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  
}
#cancelar{
    background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%; 
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
 height: 200px;
 width: 300px;
  
}

.container {
  padding: 16px;
 
}
.hola{
    margin-top: 90px;
    background: white;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.titulo{
    position: absolute;
    font-family: Helvetica;
    text-align: center;
    font-size: 50px;
    top: -20px;
    left: 640px;
}

.b{
    background: whitesmoke;
}
.cuadro{
 
    padding-top: -20px;
}